Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
src/._bcdi/
src/._d/
src/._ncdi/
src/*.a
src/*.cm*
src/*.o
src/*.so
config.h.in
config.h
examples/._d/
examples/Makefile.opus2wav
examples/opus2wav
examples/opus2wav.cmi
examples/opus2wav.cmx
examples/opus2wav.o
examples/test.opus
examples/test.wav
*.annot
